<div class="container">

  <h2><%= @user.first_name %>'s Dashboard</h2>
  <p><%= @user.email %></p>

  <h3>Your Animals</h3>
    <div class="animals-cards">
      <% Animal.all.each do |animal| %>
        <% if animal.owner_id == @user.id %>
          <%= link_to animal_path(animal) do %>
            <div class="card-animal">
              <div class="animal-image">
                <img src="<%= cl_image_path animal.photo %>">
              </div>
                <div class="card-animal-infos">
                  <h2><%= animal.name %></h2>
                  <p><strong><%= animal.species %></strong>
                  <%= animal.age %></p>
                  <div class="text-wrap">
                    <h4><%= animal.description %></h4>
                  </div>
                </div>
                <div class="animal-edit-delete">
                  <%= link_to edit_animal_path(animal), class: "btn btn-warning btn-sm show-edit" do %>
                    <i class="far fa-edit"></i> Edit
                  <% end %>
                  <%= link_to animal_path(animal), class: "btn btn-danger btn-sm show-delete", method: :delete, data: {confirm: "Are you sure you want to delete #{animal.name}?" } do %>
                    <i class="far fa-edit"></i> Delete
                  <% end %>
                </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  <h3>Your Bookings</h3>
    <% Booking.all.each do |booking| %>
      <% if booking.user_id == @user.id %>
      <div class="card-animal">
        <img src="<%= cl_image_path booking.animal.photo %>">
        <div class="class card-animal-infos">
          <h2><%= booking.animal.name %></h2>
          <p><%= booking.start_date %>
            <strong>to</strong>
          <%= booking.end_date %></p>
            <%= link_to user_booking_path(current_user, booking), class: "btn btn-danger btn-sm show-delete",
                method: :delete,
                data: {confirm: 'Are you sure?'} do %>
              <i class="fas fa-ban"></i> Cancel Booking
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
  <div class="spacing"></div>  <div class="spacing"></div>  <div class="spacing"></div>
</div>
