<div class="container position-relative">
  <div class="banner animal-border-radius animal-margin animal-box-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @animal.photo  %>);">
  </div>

<%#= cl_image_tag @animal.photo, height: 300, width: 400, crop: :fill %>
  <div class="animal-name">
    <h1><%= @animal.name %></h1>
  </div>

  <p>Animal: <%= @animal.species %></p>
  <p>Age: <%= @animal.age %></p>

  <%= link_to animals_path, class: "btn animal-back-button" do %>
    <i class="fas fa-chevron-left"></i> Back
  <% end %>
  <%= link_to "Book #{@animal.name}", new_animal_booking_path(@animal),
              class: "btn btn-flat animal-rent",
              "data-toggle" => "modal",
              "data-target" => "#modalBooking" %>

  <% if policy(@animal).edit? %>
    <%= link_to "Edit", edit_animal_path(@animal), class: "btn btn-flat" %>
  <% end %>

  <% if policy(@animal).delete? %>
    <%= link_to "Delete", animal_path(@animal), method: :delete, data: {confirm: "Are you sure you want to delete #{@animal.name}?" }, class: "btn btn-flat" %>
  <% end %>
</div>

<%= render 'bookings/new', animal: @animal, booking: @booking %>


