<div class="container position-relative">
  <div class="card-trip col-md-8  col-md-offset-2">
  <div class="banner animal-border-radius animal-margin animal-box-shadow banner-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @animal.photo  %>);">
  </div>


<%#= cl_image_tag @animal.photo, height: 300, width: 400, crop: :fill %>

      <div class="animal-name">
       <!--  <h1><%= @animal.name %></h1> -->
      </div>


  <div class="card-trip-infos">
    <div class="description">
       <h1><%= @animal.name %></h1>
      <span><h2><%= @animal.species %> | <%= @animal.age %> years</h2></span>
      <span><h2 class="card-trip-pricing"></h2></span>
      <h5 ><%= @animal.description %></h5>
    </div>
    <div class="pricing">

    </div>

    </div>



  <%= link_to animals_path, class: "btn animal-back-button" do %>
    <i class="fas fa-chevron-left"></i> Back
  <% end %>
  <%= link_to "Book #{@animal.name}", new_animal_booking_path(@animal),
              class: "btn btn-flat animal-rent",
              "data-toggle" => "modal",
              "data-target" => "#modalBooking" %>

  <% if policy(@animal).edit? %>
    <%= link_to "Edit", edit_animal_path(@animal), class: "btn btn-flat" %>
  <% end %>

  <% if policy(@animal).delete? %>
    <%= link_to "Delete", animal_path(@animal), method: :delete, data: {confirm: "Are you sure you want to delete #{@animal.name}?" }, class: "btn btn-flat" %>
  <% end %>
  </div>
</div>


<!-- <div class="container">
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
 </div>
 -->

<%= render 'bookings/new', animal: @animal, booking: @booking %>


